<!-- <div >
    <mat-form-field class="example-full-width" >
        <input matInput placeholder="Verification code" formControlName="verificationCode" required>
        <mat-error *ngIf="registerForm.get('verificationCode').invalid">{{requiredGetErrorMessage('verificationCode')}}
        </mat-error>
    </mat-form-field>
    <button class="btn btn-primary mr-3" (click)="register()">Verify Email and Register</button> 
    <br><br>
    <button class="btn btn-primary mr-3" (click)="verifyEmail()">Send Verification Code Again</button>                 
</div> -->
<b></b>